.buscador {
    background-color: rgb(5, 7, 47);
    min-height: 8vh;
    border-radius: 20px;
    width: 87vw;
    margin-left: 10vw;
    position: relative;
    top: 1vh;
}

.input-formulario {
    width: 80vw;
    height: 4vh;
    margin-top: 1.5vh;
    margin-left: 5vw;
    border-radius: 15px;
    border: solid aquamarine 3px;
}

.fa-search {
    position: relative;
    left: 7vw;
    top: 5px;
}

@media (max-width: 700px) {
    .buscador {
        margin-top: 20px;
        width: 96vw;
        margin-left: 2vw;
        border-radius: 10px;
    }
}