.tarjeta-pelicula{
    width: 14vw;
    background-color: black;
    border: 2px solid blue;
    border-radius: 20px;
    margin-bottom: 12px;
}

.imagen-pelicula{
    width: 13vw;
    margin-top: 15px;
    border-radius: 10px;
}

.descripcion{
    font-size: 16px;
}

.titulo{
    font-size: 22px;
}

.esconder{
    display: none;
}

.mostrar{
    display: block;
}