.contenido-notFound {
    background-color: rgba(5, 7, 47, 0.5);
    border-radius: 20px;
    width: 87vw;
    margin-left: 10vw;
    text-align: center;
    color: whitesmoke;
    padding-top: 2vw;
}

.travolta {
    border-radius: 20px;
    margin-bottom: 10px;
    width: 70vw;
}

@media (max-width: 700px) {
    .contenido-notFound {
        width: 96vw;
        margin-left: 2vw;
        justify-content: space-around;
    }

    .travolta {
        width: 87vw;
    }
}