.menu-principal-false {
    background-color: rgba(5, 7, 47, 0.95);
    height: 100vh;
    position: fixed;
    width: 7vw;
}

.menu-principal-true {
    width: 15vw;
    background-color: rgba(5, 7, 47, 0.95);
    height: 100vh;
    position: fixed;
    z-index: 1;
}

.imagen-logo {
    width: 4vw;
    margin-top: 40px;
    margin-left: 1.2vw;
    transform: rotate(-17deg);
}

.icons-menu-hover {
    width: 15vw;
    margin-top: 50px;
    display: grid;
    grid-template-rows: 80px 80px 80px 80px;
    text-align: center;
}

.icons-menu {
    margin-top: 50px;
    display: grid;
    grid-template-rows: 80px 80px 80px 80px 80px;
    text-align: center;
}

.fas {
    font-size: 20px;
    color: whitesmoke;
}

.logo-titulo {
    display: grid;
    grid-template-columns: 6vw 6vw;
}

.nombre-pag {
    margin-top: 55px;
    font-size: 22px;
    color: whitesmoke;
}

.fa-code {
    position: fixed;
    bottom: 3vh;
    left: 2.75vw;
}

@media (max-width: 700px){
    .menu-principal-false {
        bottom: 0;
        height: 10vh;
        width: 100vw;
    }

    .menu-principal-true {
        bottom: 0;
        height: 10vh;
        width: 100vw;
    }

    .icons-menu {
        display: grid;
        grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
        margin-top: 35px;
    }

    .icons-menu-hover {
        display: grid;
        grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
        margin-top: 35px;
    }

    .logo-titulo, .nombre-pag, .fa-code, .descripcion-iconos, .logo-solo {
        display: none;
    }
}